{% load static i18n humanize %}
{% load thumbnail %}

<li>
  <div alt="{% trans 'User Image' %}" class="user-image mr-2" style="width: 45px; height: 45px;{% thumbnail message.sender.picture 'x45' as im %} background-image: url({{ im.url }});{% endthumbnail %}"></div>
  <div>
    <b>
      <a href="{% url 'users:detail' message.sender.username  %}">{{ message.sender.get_profile_name|title }}</a>
    </b>
    <small> - {{ message.timestamp|date:'N d G:i' }}</small>
    <br>
    {{ message.message }}
  </div>
</li>
