{% extends 'base.html' %}
{% load static i18n humanize %}
{% load thumbnail %}


{% block head %}

{% endblock head %}


{% block content %}
  <div class="container my-auto text-center">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase"><strong>{% trans 'Welcome to Encontros Digitais' %}</strong></h1>
        <hr>
      </div>
      <div class="col-lg-4 mx-auto">
        <p class="mb-5">{% trans 'Your enterprise oriented social network.' %}</p>
        {% if not request.user.is_authenticated %}
        <a class="btn btn-primary btn-xl" href="{% url 'account_login' %}">{% trans 'Start Session' %}</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}