{% extends "base.html" %}

{% block head %}

{% endblock head %}


{% block content %}
	<div class="container" style="max-width: 680px">
		<h1>Encontros Digitais</h1>
		<hr/>

		<div class="row">
			<div class="col-md-7">
				<p>O Encontros Digitais é um espaço de aprendizado em arte e tecnologia, tem como objetivo fortalecer a comunidade de artistas-programadores do Brasil, através da criação de ferramentas que ajudem na comunicação e compartilhamento de conhecimento.</p>
			</div>
			<div class="col-md-5">
				<img src="/static/img/sobre/encontros-digitais-transparent.png" alt="Trulli" style="width:100%">
			</div>

			<div class="col-12">
				<p>O Encontros Digitais é também um projeto em eterna construção pela própria comunidade. Este é um projeto de código livre, que tem como meta objetivo possibilitar a melhoria da plataforma de acordo com o desejo dos participantes.</p>
			</div>
		</div>
		

		<div class="row">
			<div class="col-12">
				<p>O nome faz referência ao grupo de mesmo nome criado em 2009 no Facebook. Este grupo foi um espaço de troca de referências e discussões sobre usos criativos da tecnologia. Em 21 de agosto de 2019 foi feito um levantamento para quantificar as publicações destes 10 anos de existência do grupo, haviam 3.536 publicações e 3.958 comentários.  O Facebook atribui automaticamente à publicação uma classificação que é relacionada ao tipo de conteúdo.</p>

				<figure>
					<img src="/static/img/sobre/grafico-tipos-publicacoes.png" alt="Trulli" style="width:100%">
					<figcaption>10 anos de publicações agrupadas por tipo no grupo "Encontros Digitais" do Facebook.</figcaption>
				</figure>
			</div>
		</div>
		
		<hr/>
		<h2>Por que existimos?</h2>

		<p>Existem muitos grupos dispersos sobre arte e tecnologia, natural da própria cultura digital, que se espalha por plataformas digitais. A diversidade de iniciativas não se reflete nas empresas responsáveis pela operação das plataformas onde esses grupos operam, dado que apenas cinco empresas dominam o mercado: Google, Apple, Facebook, Amazon e Microsoft, juntas são referenciadas pelo acrônimo GAFAM. O valor de mercado acumulado destas 5 empresas no primeiro trimestre de 2020<a href="#cite1">[1]</a> era superior a US$ 5 trilhões, se esse valor fosse o PIB de um país, o GAFAM teria o 3º maior PIB do mundo<a href="#cite2">[2]</a>.</p>

		<p>Os grupos de discussão existentes encontram-se em redes sociais de grandes corporações, caracterizadas por recursos limitados para organização de conteúdo, falta de acesso aos conteúdos produzidos pelos próprios usuários, casos graves de violação de privacidade e impossibilidade de liberdade criativa para acrescentar novas funcionalidades.</p>

		<p>Tais restrições são contrárias à própria cultura da Programação Criativa, que cria suas próprias ferramentas. A pesquisa busca contribuir com a construção de um espaço onde tais restrições sejam superadas, favorecendo a autonomia criativa para construir a comunidade virtual.</p>

		<p>Dentre a circulação de bens que compõe o fluxo de capital destas empresas, encontram-se os dados, estes geram valor das formas mais criativas imagináveis, mas são comumente comercializados quando auxiliados ao desejo de uma campanha de publicidade, através de um longo processo de cruzamento e refinamento destes dados com o perfil desejado para se comunicar. A sofisticação das máquinas de venda permite que as plataformas consigam oferecer estes dados não apenas para as pessoas certas, mas também nos momentos certos. Os dados se tornaram uma das principais commodities do nosso tempo.<a href="#cite3">[3]</a></p>

		<p>Cada plataforma prioriza uma forma de se comunicar, que por consequência possibilita certos tipos de interação e produz dados correspondentes. Estes dados quando trabalhados em perfis de consumo geram valor.</p>

		<p>Ao passo que o desenvolvimento destas empresas é acelerado, o debate jurídico que visa proteger a privacidade do indivíduo avança em ritmo lento. Não se sabe quantos dados foram coletados e a que propósitos estes dados têm servido. Aos usuários cabe aceitar longos termos de serviços que autorizam a coleta dos dados para poder fazer parte das plataformas.</p>

		<p>Tendo em vista que a internet tem se tornado um espaço onde poucas plataformas detém o fluxo informacional, diferente do cenário de 10 anos atrás, onde o consumo de dados na internet era caracterizado por uma variedade de protocolos e plataformas de comunicação, propõe-se então uma reocupação da internet. O sociólogo brasileiro Sérgio Amadeu da Silveira, pesquisador de cibercultura, resgata o conceito de commons:</p>
			
		<blockquote class="ml-4">Commons pode ser traduzido como comum, produção ou espaço comum. Seu significado também comporta a noção de público em oposição ao que é privado. Seu uso evoca ainda a ideia de algo que é feito por todos ou por coletivos e comunidades. (SILVEIRA, 2008, p. 49)<a href="#cite4">[4]</a>
		</blockquote>


		<p>Para Silveira (2008, p. 49) "o remix, a colagem, a recombinação de conteúdos e formas são expressões da ideia de commons, ou seja, a cultura das redes é um terreno típico dos commons". </p>

		<p>As plataformas digitais do GAFAM onde conteúdos são produzidos e compartilhados pelo GAFAM não disponibilizam acesso ao código de suas ferramentas, isso significa dizer que a possibilidade de adição de funcionalidades e acesso aos dados produzidos é limitada, ou nula.</p>
		
		<blockquote class="ml-4">A liberdade é a base da colaboração. Se, na sociedade industrial, a liberdade serviu principalmente para a ampliação dos mercados, na era da internet a liberdade está servindo para a expansão dos commons, e do seu sucesso dependerá o futuro da criatividade e da própria liberdade humana. (SILVEIRA, 2008, p. 50)<a href="#cite4">[4]</a></blockquote>

		<hr/>
		<h2>O que podemos ser?</h2>

		<p>As funcionalidades de uma ferramenta determinam as possibilidades de interação não apenas com a ferramenta em si, mas com outras pessoas através das ferramentas (VAN DIJCK, 2018)<a href="#cite5">[5]</a>. Não permitir adição de funcionalidades a uma ferramenta representa um limite, determinante do que é permitido ou possível de ser realizado.</p>

		<p>O desenvolvimento de uma comunidade de forma a resgatar a liberdade criativa precisa contemplar a possibilidade de participação em todas as camadas. É necessário considerar os significados atribuídos pela cultura ocidental à palavra desenvolvimento, no contexto econômico Furtado (1974) afirma que:</p>
				
		<blockquote class="ml-4">a ideia de desenvolvimento econômico é um simples mito. Graças a ela tem sido possível desviar as atenções da tarefa básica de identificação das necessidades fundamentais da coletividade e das possibilidades que abrem ao homem os avanços da ciência, para concentrá-las em objetivos abstratos como são os investimentos, as exportações e o crescimento. (FURTADO, 1974, p.75)<a href="#cite6">[6]</a></blockquote>

		<p>Este conceito de desenvolvimento tem sido lentamente ampliado, de modo que considere todos os fatores de bem-estar social, colocando o desenvolvimento humano num papel central. No contexto do desenvolvimento de software, o código é a linguagem homem-máquina. No re-envolvimento de software, o código seria a ferramenta de conexão Humano-máquina-humano. Utilizar a tecnologia de forma crítica para facilitar as relações sociais<a href="#cite7">[7]</a>.</p>

		<p>Ao construir nossa própria plataforma, ganhamos a liberdade dela se tornar o que quiser. Uma escola, fórum, praça, fazenda, agenda de eventos, organizador de informação, portfolio, galeria virtual, qualquer coisa.</p>


		<hr/>
		<h2>Como posso colaborar?</h2>

		<ul>
			<li>Participando das discussões:<br/>
			<a href="https://encontrosdigitais.com.br">https://encontrosdigitais.com.br</a></li>

			<li>Sugerindo melhorias no Github:<br/>
			<a target="_blank" href="https://github.com/encontrosdigitais/bootcamp/issues">https://github.com/encontrosdigitais/bootcamp/issues</a></li>

			<li>Contribuindo com código e desenvolvimento:<br/>
			<a target="_blank" href="https://github.com/EncontrosDigitais/bootcamp/wiki/Instalando-e-executando-o-Bootcamp">https://github.com/EncontrosDigitais/bootcamp/wiki/Instalando-e-executando-o-Bootcamp</a></li>

			<li>Contribuindo com arte:<br/>
			<a target="_blank" href="https://github.com/encontrosdigitais/capa</a>">https://github.com/encontrosdigitais/capa</a></li>
		</ul>


		<hr/>
		<h2>Como chegamos até aqui?</h2>

		<p>O início da construção dessa plataforma ocorreu como parte do projeto de mestrado e com a contribuição dos participantes envolvidos na pesquisa.</p>

		<p>Esta apresentação na Noite De Processing descreve o processo:
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nWNXk60lsnQ?rel=0"></iframe>
			</div>
		</p>

		<p>A pesquisa de mestrado ocorreu inteiramente online através de vídeo chamadas, que a partir da terceira reunião, passou a ser transmitida para o YouTube. O áudio da primeira reunião ficou baixo, a partir da segunda reunião corrigimos o problema:
		<a href="https://www.youtube.com/playlist?list=PLSRL0POknUG6q4xSpJ_ZcelKByI72sDv8" target="_blank">https://www.youtube.com/playlist?list=PLSRL0POknUG6q4xSpJ_ZcelKByI72sDv8</a></p>

		<p>Esta pesquisa também se desdobrou em artigo acadêmico e dissertação, onde é descrito o processo colaborativo que aconteceu remotamente. O artigo encontra-se em processo de publicação e a dissertação em finalização. Os links serão divulgados aqui em momento oportuno.</p>


		<hr/>
		<h3>Referências</h3>
		<ol>
			<li id="cite1">
				<cite>
					Clube do trilhão, Isto É Dinheiro. Disponível em: &lt;<a target="_blank" href="https://www.istoedinheiro.com.br/clube-do-trilhao/">https://www.istoedinheiro.com.br/clube-do-trilhao/&gt;</a>. Acesso em: 16 ago. 2020.
				</cite>
			</li>
			<li id="cite2">
				<cite>
					CPIB dos países em 2019 segundo World Bank. Disponível em: &lt;<a target="_blank" href="https://data.worldbank.org/indicator/NY.GDP.MKTP.CD?end=2019&most_recent_value_desc=true&start=2019&year_high_desc=true">https://data.worldbank.org/indicator/NY.GDP.MKTP.CD?end=2019&most_recent_value_desc=true&start=2019&year_high_desc=true</a>&gt;. Acesso em: 16 ago. 2020.
				</cite>
			</li>
			<li id="cite3">
				<cite>
					O Trabalho Na Era Digital - Anotações Da Aula. Disponível em: &lt;<a target="_blank" href="https://encontrosdigitais.com.br/articles/vamoss-O-trabalho-na-era-digital-Anotacoes-da-aula/">https://encontrosdigitais.com.br/articles/vamoss-O-trabalho-na-era-digital-Anotacoes-da-aula/</a>&gt;. Acesso em: 31 jan. 2021.
				</cite>
			</li>
			<li id="cite4">
				<cite>
					SILVEIRA, Sérgio Amadeu da. O conceito de commons na cibercultura. Líbero, v. 11, n. 21, pp. 49-60, 22 set 2008. Disponível em:  &lt;<a target="_blank" href="https://www.procomum.org/wp-content/uploads/2018/01/5397-14252-1-PB.pdf">https://www.procomum.org/wp-content/uploads/2018/01/5397-14252-1-PB.pdf</a>&gt;. Acessado em: 20 mai 2020. 
				</cite>
			</li>
			<li id="cite5">
				<cite>
					VAN DIJCK, J. POELL, T. e DE WAAL, M. The Platform Society. Nova York: Oxford University Press, 2018.
				</cite>
			</li>
			<li id="cite6">
				<cite>
					FURTADO, Celso. Desenvolvimento e subdesenvolvimento. Rio de Janeiro: Fundo de Cultura, 1961.
				</cite>
			</li>
			<li id="cite7">
				<cite>
					Des-envolvimento = Não-envolvimento. Por uma perspectiva que promova o re-envolvimento. Disponível em: &lt;<a target="_blank" href="https://observablehq.com/@vamoss/des-envolvimento-nao-envolvimento">https://observablehq.com/@vamoss/des-envolvimento-nao-envolvimento</a>&gt;. Acesso em: 31 jan. 2021.
				</cite>
			</li>
		</ol>
	</div>
{% endblock content %}