{% extends "base.html" %}
{% load static i18n %}
{% load thumbnail %}

{% block title %}{{ object.username }}{% endblock %}

{% block head %}
  <link href="{% static 'css/user_profile.css' %}?v=1" rel="stylesheet">
{% endblock head %}

{% block content %}
  <!-- Page Content -->
  <div class="container clearfix">

    <div  alt="{% trans 'User Image' %}" class="user-image mr-4" style="width: 200px; height: 200px;{% thumbnail object.picture 'x200' as im %} background-image: url({{ im.url }});{% endthumbnail %}"></div>

    <div class="page-header">
      <h1>{{ object.username|title }}</h1>
    </div>

    <div id="contact-info" class="vcard">
        {% if object.short_bio %}
        <h1 class="fn">
          <small style="font-size: 50%">{{ object.short_bio }}</small>
        </h1>
        {% endif %}
        <p>
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          {{ object.get_profile_name|title }}
          <br />
          {% if object.job_title %}
            <i class="fa fa-briefcase" aria-hidden="true"></i>  {{ object.job_title }} <br />
          {% endif %}
          {% if object.location %}
            <i class="fa fa-map-marker" aria-hidden="true"></i>  {{ object.location }} <br />
          {% endif %}
        </p>
    </div>
    {% if object.bio %}
      <div id="objective"><p>{{ object.bio }}</p></div>
    {% endif %}
    <div class="clear"></div>
    {% if object.personal_url %}
      <a href="{{ object.personal_url }}" style="font-size: 2em" title="{% trans 'RSS Channel' %}"><i class="fa fa-rss"></i>  </a>
    {% endif %}
    {% if object.twitter_account %}
      <a href="{{ object.twitter_account }}" style="font-size: 2em" title="{% trans 'Twitter Profile' %}"><i class="fa fa-twitter"></i>  </a>
    {% endif %}
    {% if object.github_account %}
      <a href="{{ object.github_account }}" style="font-size: 2em" title="{% trans 'Github Profile' %}"><i class="fa fa-github"></i>  </a>
    {% endif %}
    {% if object.linkedin_account %}
      <a href="{{ object.linkedin_account }}" style="font-size: 2em" title="{% trans 'LinkedIn Profile' %}"><i class="fa fa-linkedin"></i>  </a>
    {% endif %}
    {% if object.facebook_account %}
      <a href="{{ object.facebook_account }}" style="font-size: 2em" title="{% trans 'Facebook Profile' %}"><i class="fa fa-facebook"></i>  </a>
    {% endif %}
    {% if request.user.username == object.username %}
      <div class="clear"></div>
      <a class="btn btn-primary" href="{% url 'users:update' %}">{% trans 'Update Profile' %}</a>
    {% endif %}
  </div>
  <!-- /.container -->

  {% comment %}
  <!-- Data tiles -->
  <div class="row tile_count">
    <div class="col-md-2 col-sm-3 col-xs-4 tile_stats_count">
      <span class="count_top"><i class="glyphicon glyphicon-envelope"></i> {% trans 'Feeds' %}</span>
      <div class="count">0</div>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-4 tile_stats_count">
      <span class="count_top"><i class="glyphicon glyphicon-pencil"></i> {% trans 'Articles' %}</span>
      <div class="count">0</div>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-4 tile_stats_count">
      <span class="count_top"><i class="glyphicon glyphicon-comment"></i> {% trans 'Comments' %}</span>
      <div class="count">0</div>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-4 tile_stats_count">
      <span class="count_top"><i class="glyphicon glyphicon-question-sign"></i> {% trans 'Questions' %}</span>
      <div class="count">0</div>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-4 tile_stats_count">
      <span class="count_top"><i class="glyphicon glyphicon-education"></i> {% trans 'Answers' %}</span>
      <div class="count">0</div>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-4 tile_stats_count">
      <span class="count_top"><i class="glyphicon glyphicon-fire"></i> {% trans 'Global Interactions' %}</span>
      <div class="count">0</div>
    </div>
  </div>
  <!-- /data tiles -->
  {% endcomment %}
{% endblock content %}
