{% extends "base.html" %}
{% load static i18n %}
{% load thumbnail %}
{% block title %}{% trans 'Contacts' %}{% endblock %}

{% block head %}
  <link href="{% static 'css/user_list.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
  <!-- Page Content -->
  <div class="container">
    <div class="page-header">
      <h1>{% trans 'Contacts' %}</h1>
    </div>

    <ul class="user-profiles-list row">
      {% for user in user_list %}
        <li class="col-sm-12 col-md-6 col-lg-4">
          <a href="{% url 'users:detail' user.username  %}" class="user">
            <div class="user-avatar">
              <div  alt="{% trans 'User Image' %}" class="user-image" style="width: 80px; height: 80px;{% thumbnail user.picture 'x80' as im %} background-image: url({{ im.url }});{% endthumbnail %}"></div>
            </div>
            <p>
              {{ user.get_profile_name|title }}
              <span>
                {% if user.job_title %}
                  <i class="fa fa-briefcase" aria-hidden="true"></i>
                  <i>  {{ user.job_title}}</i>
                {% endif %}
              </span>
              <span>
                {% if user.location %}
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <i>  {{ user.location }}</i>
                {% endif %}
              </span>
            </p>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <!-- /.container -->
{% endblock content %}
