{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block head %}
{% endblock head %}

{% block content %}

  <!-- Page Content -->
  <div class="container">
    <div class="page-header">
      <h1>{% trans 'Write a new article' %}</h1>
    </div>
    <div class="row">
      <form action="{% url 'articles:write_new' %}" enctype="multipart/form-data" id="article-form" method="post" role="form" class="col-md-8">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-group">
          <button type="button" class="btn btn-primary publish">{% trans 'Publish' %}</button>
          <button type="button" class="btn btn-default draft">{% trans 'Save as draft' %}</button>
          <a href="{% url 'articles:list' %}" class="btn btn-default">{% trans 'Cancel' %}</a>
        </div>
      </form>
      {{ form.media }}
      <div class="col-md-4">
        O campo de conteúdo permite o uso de&nbsp;<a href="https://pt.wikipedia.org/wiki/Markdown" target="_blank">markdown</a>. Veja como utilizar <a href="https://encontrosdigitais.com.br/qa/question-detail/1/">neste artigo</a>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

{% endblock content %}

{% block modal %}
  <script src="{% static 'js/articles.js' %}"></script>
{% endblock modal %}
