{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block head %}
{% endblock head %}

{% block content %}

  <!-- Page Content -->
  <div class="container">
    <div class="page-header">
      <h1>{% trans 'Update an article' %}</h1>
    </div>
    <div class="row">
      <form action="{% url 'articles:edit_article' form.instance.pk %}" enctype="multipart/form-data"  id="article-form" method="post" role="form" class="col-md-8">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-group">
          <button type="button" class="btn btn-primary update">{% trans 'Update' %}</button>
          <button type="button" class="btn btn-default draft">{% trans 'Save as draft' %}</button>
          <a href="{% url 'articles:drafts' %}" class="btn btn-default">{% trans 'Cancel' %}</a>
        </div>
      </form>
      {{ form.media }}
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

{% endblock content %}

{% block modal %}
  <script src="{% static 'js/articles.js' %}"></script>
{% endblock modal %}
