{% extends 'base.html' %}
{% load static i18n humanize %}
{% load thumbnail %}


{% block head %}

{% endblock head %}

{% block content %}
    <div class="terms">
        <h1>Termos e condições gerais de uso</h1>
        <hr>
        <p>Os serviços do Encontros Digitais são fornecidos pela pessoa física Carlos de Oliveira Junior, inscrito no CPF sob o nº 104.440.377-21, 
            titular da propriedade intelectual sobre website e demais ativos relacionados à plataforma Encontros Digitais.</p>
        <br>
        <h2>1. Do objeto</h2>
        <hr>
        <p>
            A plataforma visa licenciar o uso de seu software, website, aplicativos e demais ativos de propriedade intelectual, fornecendo ferramentas para 
            auxiliar e dinamizar o dia a dia dos seus usuários.
            <br><br>
            A plataforma caracteriza-se pela prestação do seguinte serviço: espaço de aprendizado em arte e tecnologia, tem como objetivo fortalecer a 
            comunidade de artistas-programadores do Brasil, através da criação de ferramentas que ajudem na comunicação e compartilhamento de conhecimento.
        </p>
        <br>
        <h2>2. Da aceitação</h2>
        <hr>
        <p>
            O presente Termo estabelece obrigações contratadas de livre e espontânea vontade, por tempo indeterminado, entre a plataforma e as pessoas físicas 
            ou jurídicas, usuárias do site.
            <br><br>    
            Ao utilizar a plataforma o usuário aceita integralmente as presentes normas e compromete-se a observá-las, sob o risco de aplicação das penalidade 
            cabíveis.
            <br><br>
            A aceitação do presente instrumento é imprescindível para o acesso e para a utilização de quaisquer serviços fornecidos pela empresa. Caso não 
            concorde com as disposições deste instrumento, o usuário não deve utilizá-los.
        </p>
        <br>
        <h2>3. Do acesso dos usuários</h2>
        <hr>
        <p>
            Serão utilizadas todas as soluções técnicas à disposição do responsável pela plataforma para permitir o acesso ao serviço 24 (vinte e quatro) 
            horas por dia, 7 (sete) dias por semana. No entanto, a navegação na plataforma ou em alguma de suas páginas poderá ser interrompida, limitada ou 
            suspensa para atualizações, modificações ou qualquer ação necessária ao seu bom funcionamento.
        </p>
        <br>
        <h2>4. Do cadastro</h2>
        <hr>
        <p>
            A possibilidade de publicar na plataforma exigirá a realização de um cadastro prévio.
            <br><br>
            Ao se cadastrar o usuário deverá informar dados completos, recentes e válidos, sendo de sua exclusiva responsabilidade manter referidos dados 
            atualizados, bem como o usuário se compromete com a veracidade dos dados fornecidos.
            <br><br>
            O usuário se compromete a não informar seus dados cadastrais e/ou de acesso à plataforma a terceiros, responsabilizando-se integralmente pelo uso 
            que deles seja feito.
            <br><br>
            Menores de 18 anos e aqueles que não possuírem plena capacidade civil deverão obter previamente o consentimento expresso de seus responsáveis legais 
            para utilização da plataforma e dos serviços ou produtos, sendo de responsabilidade exclusiva dos mesmos o eventual acesso por menores de idade e 
            por aqueles que não possuem plena capacidade civil sem a prévia autorização.
            <br><br>
            Mediante a realização do cadastro o usuário declara e garante expressamente ser plenamente capaz, podendo exercer e usufruir livremente dos serviços 
            e produtos.
            <br><br>
            O usuário deverá fornecer um endereço de e-mail válido, através do qual o site realizará todas comunicações necessárias.
            <br><br>
            Após a confirmação do cadastro, o usuário possuirá um login e uma senha pessoal, a qual assegura ao usuário o acesso individual à mesma. Desta 
            forma, compete ao usuário exclusivamente a manutenção de referida senha de maneira confidencial e segura, evitando o acesso indevido às informações 
            pessoais.
            <br><br>
            Toda e qualquer atividade realizada com o uso da senha será de responsabilidade do usuário, que deverá informar prontamente a plataforma em caso de 
            uso indevido da respectiva senha.
            <br><br>
            Não será permitido ceder, vender, alugar ou transferir, de qualquer forma, a conta, que é pessoal e intransferível.
            <br><br>
            Caberá ao usuário assegurar que o seu equipamento seja compatível com as características técnicas que viabilize a utilização da plataforma e dos 
            serviços ou produtos.
            <br><br>
            O usuário poderá, a qualquer tempo, requerer o cancelamento de seu cadastro junto ao site Encontros Digitais. O seu descadastramento será realizado 
            o mais rapidamente possível.
            <br><br>
            O usuário, ao aceitar os Termos e Política de Privacidade, autoriza expressamente a plataforma a coletar, usar, armazenar, tratar, ceder ou utilizar 
            as informações derivadas do uso dos serviços, do site e quaisquer plataformas, incluindo todas as informações preenchidas pelo usuário no momento em 
            que realizar ou atualizar seu cadastro, além de outras expressamente descritas na Política de Privacidade que deverá ser autorizada pelo usuário.
        </p>
        <br>
        <h2>5. Do suporte</h2>
        <hr>
        <p>
            Em caso de qualquer dúvida, sugestão ou problema com a utilização da plataforma, o usuário poderá entrar em contato com o suporte, através do email 
            <a href="">vamoss@vamoss.com.br</a>.
        </p>
        <br>
        <h2>6. Das responsabilidades</h2>
        <hr>
        <p>
            É de responsabilidade do usuário:
            <br><br>    
            a) defeitos ou vícios técnicos originados no próprio sistema do usuário;
            <br><br>    
            b) a correta utilização da plataforma, dos serviços ou produtos oferecidos, prezando pela boa convivência, pelo respeito e cordialidade entre os usuários;
            <br><br>
            c) pelo cumprimento e respeito ao conjunto de regras disposto nesse Termo de Condições Geral de Uso, na respectiva Política de Privacidade e na legislação nacional e internacional;
            <br><br>
            d) pela proteção aos dados de acesso à sua conta/perfil (login e senha).
            <br><br>
            e) informações divulgadas pelo usuário na plataforma;
            <br><br>
            É de responsabilidade da plataforma Encontros Digitais:
            <br><br>
            a) indicar as características do serviço ou produto;
            <br><br>
            b) os defeitos e vícios encontrados no serviço ou produto oferecido desde que lhe tenha dado causa;
            <br><br>
            A plataforma não se responsabiliza por links externos contidos em seu sistema que possam redirecionar o usuário à ambiente externo a sua rede.
            <br><br>
            Não poderão ser incluídos links externos ou páginas que sirvam para quaisquer informações ilícitas, violentas, polêmicas, pornográficas, xenofóbicas, discriminatórias ou ofensivas.
        </p>
        <br>
        <h2>7. Dos direitos autorais</h2>
        <hr>
        <p>
            O presente Termo de Uso concede aos usuários uma licença não exclusiva, não transferível e não sublicenciável, para acessar e fazer uso da plataforma e dos serviços e produtos por ela disponibilizados.
            <br><br>
            O site opera em código aberto, e está disponibilizado utilizando a licença MIT, descrita no endereço:
            <a href="https://github.com/EncontrosDigitais/bootcamp/blob/master/LICENSE">https://github.com/EncontrosDigitais/bootcamp/blob/master/LICENSE</a> 
        </p>
        <br>
        <h2>8. Das sanções</h2>
        <hr>
        <p>
            Sem prejuízo das demais medidas legais cabíveis, a administração do site poderá, a qualquer momento, advertir, suspender ou cancelar a conta do usuário:
            <br><br>
            a) que violar qualquer dispositivo do presente Termo;
            <br><br>
            b) que descumprir os seus deveres de usuário;
            <br><br>
            c) que tiver qualquer comportamento fraudulento, doloso ou que ofenda a terceiros.
        </p>
        <br>
        <h2>9. Da rescisão</h2>
        <hr>
        <p>
            A não observância das obrigações pactuadas neste Termo de Uso ou da legislação aplicável poderá, sem prévio aviso, ensejar a imediata rescisão 
            unilateral por parte da administração do site e o bloqueio de todos os serviços prestados ao usuário.
        </p>
        <br>
        <h2>10. Das alterações</h2>
        <hr>
        <p>
            Os itens descritos no presente instrumento poderão sofrer alterações, unilateralmente e a qualquer tempo, por parte do Encontros Digitais, para adequar ou modificar os serviços, bem como para atender novas exigências legais.
            <br><br>
            Eventuais alterações entrarão em vigor a partir de sua publicação em nosso site e sempre lhe notificaremos acerca das mudanças ocorridas.
            <br><br>
            Ao utilizar nossos serviços e fornecer seus dados pessoais após tais modificações, você as consente.
        </p>
        <br>
        <h2>11. Da política de privacidade</h2>
        <hr>
        <p>
            Além do presente Termo, o usuário deverá consentir com as disposições contidas na respectiva Política de Privacidade a ser apresentada a todos os 
            interessados dentro da interface da plataforma.
        </p>
        <br>
        <h2>12. Do foro</h2>
        <hr>
        <p>
            Para a solução de controvérsias decorrentes do presente instrumento será aplicado integralmente o Direito brasileiro.
            <br><br>
            Os eventuais litígios deverão ser apresentados no foro da comarca no mesmo município em que se encontra a residência do responsável pela plataforma.
        </p>
    </div>

{% endblock content %}



